*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;

}
#parent{
    height: 400px;
    width:100%;
    background-color: grey;
    display: flex;
    gap: 30px; 
    flex-wrap: nowrap;
    padding: 30px;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

   
}
#parent::-webkit-scrollbar{
    display: none;
}


.box{
    height: 100%;
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    flex-shrink: 0;  

}
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}