* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html,
body {
    height: 100%;
    width: 100%;

}

main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card {
    background-color: #fff;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    
}
.card div{
    overflow: hidden;
    position: relative;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 10px;

}

.card h2 {
    font-size: 20px;
    text-align: center;

}
.card i{
    position: absolute;
    top:50% ;
    left: 50%;
    font-size: 50px;
    opacity: 0;
    /* background: linear-gradient(to right bottom, rgb(167, 7, 106),rgb(243, 160, 214)); */
    background-image: url(https://imgs.search.brave.com/ScP9WC6C4c_ja_ZoYD52a6XCoIDdO6diHRVsGm6aSLc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9taW50/ZXIuaW8vYmxvZy9j/b250ZW50L2ltYWdl/cy8yMDIxLzA4L0hv/dy10by11c2UtQ29s/b3VyLUdyYWRpZW50/cy1mb3ItSW5zdGFn/cmFtLVN0b3JpZXMt/My5qcGc);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    transform: translate(-50%,-50%) scale(0) rotate(-60deg);
    transition:all cubic-bezier(.65,1,.77,1.44) 0.3s ;




}